.carrousel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.img{
    width: 20rem;
    height: 20rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.25s all linear;
}

.img:hover{
    transform: scale(1.1);
    transition: 0.25s all linear;
}